.Navlinks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    position: fixed;
    height: 100%;
    top: 100px;
    left: 0px;
    width: 100%;

    a {
        text-decoration: none;
        color: #292F36;
        font-size: 1.25rem;
    }

    a:hover {
        color: #C76904;
        transition: 0.5s all ease;
    }
}

@media screen and (min-width: 929px){
    .Nav {
        display: none;
        top: 100px;
    }
}
