 .Page {
    display: none;
 }

.Icon {
    display: flex;
    background: transparent;
    border: none;
    color: #292F36;
    font-size: 1.7rem;
    gap: 20px;
}

 .Navlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    position: fixed;
    height: 100%;
    top: 100px;
    left: 0px;
    width: 100%;

    a {
        text-decoration: none;
        color: #292F36;
        font-size: 1rem;
    }

    a:hover {
        color: #C76904;
        transition: 0.5s all ease;
    }
}

@media screen and (min-width: 929px){
    .Nav {
        display: none;
        top: 100px;
    }
}

@media screen and (max-width: 929px){
    .Page {
        display: block;
    }
}
