.mainTitle {
    color: white,
}

.Page {
    width: 1210px;
    height: 758px;
    background-image: url('../../assets/Rectangle1.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
    margin-top: 50px;
}
