.mainTitle {
  color: white;
}

.Page {
  width: 1210px;
  height: 758px;
  background-image: url('../../assets/01c35b9db6511d745231c47824dcd91d.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}