@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap");

.divAll {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.ProdutcveTitle {
  width: 634px;
  color: #292f36;
  text-align: center;
  font-family: "DM Serif Text";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
}

.name {
  width: 40%;
  border-color: transparent;
  border-bottom: 1px solid #292f36;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 0;
  font-size: 25px;
}

.name::placeholder {
  color: #4d5053;
  font-family: "Jost";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 45px */
  letter-spacing: 0.3px;
}

.email {
  width: 40%;
  border-color: transparent;
  border-bottom: 1px solid #292f36;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 0;
  font-size: 25px;
}
.email::placeholder {
  color: #4d5053;
  font-family: "Jost";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 45px */
  letter-spacing: 0.3px;
}
.message {
  width: 100%;
  border-color: transparent;
  border-bottom: 1px solid #292f36;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 0;
  font-size: 25px;
}
.message::placeholder {
  color: #4d5053;
  font-family: "Jost";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 45px */
  letter-spacing: 0.3px;
}
.subDivAll {
  width: 1210px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.Inputs {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.INputNameEmail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button {
  width: auto;
  display: inline-flex;
  padding: 26px 54px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 18px;
  background: #292f36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: #FFF;
}
